*{
    padding: 0;
    margin: 0;
}    
body{    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}



#main-container header #menu{
    padding: 50px 0;
}

header #menu ul{
    margin: 0;
    padding: 0;
}


header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.button{
    
    background-color: #c3d600;
    border-radius: 30px;
    color: rgba(245, 245, 245, 0.945);
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-align: right;
    
}




button:hover{
    background-color: #ffc107;
}
